/* Beginning of Normalize */
html, body {
    background: url("https://i.pinimg.com/736x/46/ed/6d/46ed6d29f5733d6914aa5197664ebc98.jpg");
    height: 100%;
    width: 100%;
    margin: 0;
    background-position: center;
    background-size: contain;
    font-family: 'Space Grotesk', sans-serif;
  }
  
  .program {
    width: 20px;
    height: 20px;
  }
  
  .portimg {
    width: 15%;
    height: 15%;
  }
  
  #port {
    text-align: center;
  }
  #port #port1 {
    margin-top: -50px;
  }
  #port img {
    width: 150px;
    border-radius: 3px;
  }
  #port .portimage1 {
    transform: skewY(2deg);
    margin-right: 50px;
  }
  #port .portimage2 {
    transform: skewY(-2deg);
    margin-left: 50px;
    width: 200px;
  }
  #port #port1 a img {
    background: linear-gradient(to right, black, rgba(0, 230, 230, 0.5));
  }
  
  body {
    background: url("");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /* End of Normalize */
  /* Beginning of Background */
  #header {
    background: url("http://orig14.deviantart.net/f7cf/f/2016/093/7/0/header_by_sinithwar-d9xm2hn.png");
    height: 30%;
    width: 100%;
    background-size: 100% 100%;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    opacity: 0.6;
  }
  
  #content {
    height: 50%;
    background: url("http://orig10.deviantart.net/b6fd/f/2016/093/5/6/content_by_sinithwar-d9xm3r5.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding: 0;
    margin: 0;
    opacity: 0.6;
  }
  
  #footer {
    background: url("http://orig14.deviantart.net/e945/f/2016/093/5/5/footer_by_sinithwar-d9xm390.png");
    height: 25%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    opacity: 0.6;
  }
  
  /* End of Background */
  /* Left and Right HUD Screens*/
  .hud-p-l {
    position: absolute;
    color: #00e6e6;
    width: 25%;
    text-align: left;
    margin-left: 50px;
    margin-top: 20px;
    transform: skewY(5deg);
    display: none;
  }
  
  .hud-p-r {
    position: absolute;
    color: #00e6e6;
    width: 25%;
    text-align: right;
    margin-left: 70%;
    margin-top: 20px;
    transform: skewY(-3deg);
    display: none;
  }
  
  /* Buttons */
  .btn-tech-1 {
    background-color: inherit;
    color: #00e6e6;
    font-size: 18px;
    
    margin-top: 30px;
    transform: rotateX(30deg);
  }
  
  .btn-tech-2 {
    background-color: inherit;
    color: #00e6e6;
    font-size: 18px;
    
    margin: 10px;
  }
  
  .contact-btn {
    display: flex;
    margin-left: 30%;
  }
  
  /* Navigation */
  #nav {
    padding-top: 10rem;
    text-align: justify;
  }
  #nav .nav-hide {
    display: none;
    margin-left: 42.5%;
  }
  
  #nav-main {
    vertical-align: middle;
    margin-top: 7rem;
    text-decoration: none;
  }
  
  .lang-content {
    background-color: black;
    border-radius: 5px;
    width: 75%;
    margin-left: 12.5%;
    padding: 5px;
    position: absolute;
    text-align: center;
    margin-top: 21rem;
    font-size: 2em;
    color: #00e6e6;
    display: none;
    opacity: 0.6;
  }
  
  @keyframes transformer-menu {
    0% {
      height: 0px;
      width: 0px;
      font-size: 0px;
    }
    33% {
      height: 2px;
      width: 20%;
      font-size: 0px;
    }
    66% {
      height: 8%;
      width: 20px;
      font-size: 0px;
    }
    100% {
      height: 8%;
      width: 75%;
      font-size: 30px;
    }
  }
  @keyframes transformer-button {
    0% {
      height: 0px;
      width: 0px;
      font-size: 0px;
    }
    50% {
      height: 1px;
      width: 100px;
      font-size: 0px;
    }
    100% {
      height: 30px;
      width: 100px;
      font-size: 16px;
    }
  }
  @keyframes content-load {
    0% {
      font-size: 0px;
    }
  }
  .content-hide {
    display: none;
    color: #00e6e6;
    animation-name: content-load;
    animation-duration: 1s;
  }
  .content-hide h1 {
    padding-left: 25%;
    margin-left: 0;
    margin-top: -25px;
    font-size: 200%;
  }
  .content-hide p {
    padding-left: 25%;
    padding-right: 30%;
    margin-left: 0;
    text-align: justify;
  }
  
  .content-show {
    color: #00e6e6;
    animation-name: content-load;
    animation-duration: 1s;
  }
  .content-show h1 {
    word-wrap: word-break;
    padding-left: 25%;
    margin-left: 0;
    margin-top: -25px;
  }
  .content-show p {
    padding-left: 25%;
    padding-right: 30%;
    margin: 0;
    text-align: justify;
  }
  
  .inkMe {
    padding: 7px;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    position: relative !important;
  }
  
  .ink {
    position: absolute;
    display: block;
    background-color: rgba(68, 204, 170, 0.45);
    border-radius: 100%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  
  .ink.animate {
    -webkit-animation: boom 800ms ease-out;
    animation: boom 800ms ease-out;
  }
  
  @-webkit-keyframes boom {
    0% {
      transform: scale(0);
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
    }
    100% {
      transform: scale(2.5);
      -webkit-transform: scale(2.5);
      -moz-transform: scale(2.5);
      opacity: 0;
    }
  }
  @keyframes boom {
    0% {
      transform: scale(0);
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
    }
    100% {
      transform: scale(2.5);
      -webkit-transform: scale(2.5);
      -moz-transform: scale(2.5);
      opacity: 0;
    }
  }
  /* End of 1080p by 720p */
  @media screen and (max-width: 900px) {
    #port .portimg {
      width: 100px;
    }
    #port .portimage1 {
      margin-right: 0px;
    }
    #port .portimage2 {
      margin-left: 0px;
    }
  
    p {
      font-size: 12px;
    }
  
    .hud-p-l {
      margin-left: 10px;
      transform: skewY(10deg);
    }
  
    .hud-p-r {
      margin-left: 70%;
      transform: skewY(-10deg);
    }
  }
  @media screen and (max-height: 600px) {
    #nav-main {
      margin-top: 4rem;
    }
  
    img {
      width: 15px;
      height: 15px;
    }
  
    .lang-content {
      margin-top: 11rem;
    }
  
    .hud-p-l {
      margin-left: 10px;
      margin-top: 10px;
      font-size: 60%;
      transform: skewY(4deg);
    }
  
    .hud-p-r {
      margin-top: 10px;
      font-size: 60%;
      transform: skewY(-4deg);
    }
  
    h1 {
      font-size: 18px;
    }
  
    .content-show {
      margin-top: -50px;
    }
  
    ::-webkit-overflow-scrollbar {
      width: 20px;
    }
  
    .content-hide {
      font-size: 1rem;
    }
    .content-hide h1 {
      margin-top: -70px;
      width: 50%;
    }
    .content-hide p {
      height: 50%;
      padding-right: 0px;
      margin-right: 25%;
      overflow: auto;
    }
  
    p {
      word-wrap: break-word;
    }
  
    .nav-hide:first-child {
      margin-top: -50px;
    }
  
    .nav-hide {
      margin-left: 32.5%;
    }
  
    #contact .container {
      margin-top: -50px;
    }
  
    #contact .btn {
      margin-top: 0px;
    }
  }
  .content-show h1{
    font-size: 50px;
    margin-top: 40px;
    margin-left: 25px;
  }
  .content-show span{
    margin-left: 5px;
  }